/* GERAL */
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
body {
    background-color: #e8e8e8;
}
hr {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* BARRA DO MENU DE NAVEGAÇÃO */
#menuNavegacao a {
    color: #000000;
}
#listaNavegacao a:hover{
    text-decoration: underline;
}

/* BARRA DO MENU DE NAVEGAÇÃO - LINKS - PÁGINA ATUAL */
.pagina-atual {
    text-decoration: underline;
}

/* FOOTER */
/* FOOTER - GERAL */
#rodape {
    background-color: #ffffff;
}
/* FOOTER - ENDEREÇO */
#bloco-endereco p {
    line-height: 0.4;
}
#bloco-endereco:hover a {
    color: #000000;
}
/* FOOTER - TELEFONE E EMAIL */
#footer-tel-email a {
    color: #000000;
}
#footer-tel-email:hover a {
    color: #000000;
}

/* DIREITOS RESERVADOS E LINK PARA A PÁGINA DO DESENVOLVEDOR DO SITE */
#direitos-dev p {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#direitos-dev a {
    color: #000000;
    font-weight: 300;
}
#direitos-dev a:hover {
    color: #000000;
}

/* PÁGINA HOME - CARROSSEL/CAROUSEL */
.carousel-inner img {
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
}
.carousel-inner h2 {
    font-size: 3rem;
}
.carousel-inner a {
    color: #ffffff;
}
.carousel-inner a:hover {
    text-decoration: underline;
}
/* PÁGINA HOME - SOBRE */
#home-sobre {
    color: #ffffff; 
    max-width: 500px;
}

/* PÁGINA HOME - ATUAÇÃO CARDS */
#home-atuacao-cards .card {
    max-width: 400px;
    max-height: 400px;
}
#home-atuacao-cards .card img {
    filter: brightness(0.4);
}
#home-atuacao-cards h4 {
    color: #ffffff;
}
#home-atuacao-cards a {
    color: #ffffff;
    font-size: 1rem;
}

/* PÁGINA HOME/SOBRE/ATUAÇÃO - MODAL */
.modal-header, .modal-body, .modal-footer {
    background-color: #e8e8e8;
    color: #000000;
}
.modal-footer button{
    color: #000000;
}
.modal-footer button:hover {
    text-decoration: underline;
}
#modal-contato1, #modal-contato2, #modal-contato3 {
    color: #000000;
}

/* PÁGINA SOBRE - BANNER */
#sobre-imagem img {
    filter: brightness(0.4);
}
#sobre-imagem h2, p#atuacao-banner-txt {
    color: #ffffff;
}

/* PÁGINA ATUAÇÃO - SÓCIOS */
#atuacao-socios a, p {
    color: #000000;
}

/* PÁGINA SÓCIOS - JUMBOTRON SÓCIOS */
#socios-sobre {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
#socios-sobre p {
    max-width: 500px;
    margin: auto;
}
#socios-sobre h2, p {
    font-weight: 300;
}
/* PÁGINA SÓCIOS - CARDS SÓCIOS */
.socios-link {
    color: transparent;
    font-size: 3rem;
    transition: 0.7s;
}
#socios-cards .card .socios-link {
    transition: 0.7s;
}
#socios-cards .card:hover .socios-link {
    color: #ffffff;
    transition: 0.7s;
}
#socios-cards .card .socios-img {
    transition: 0.7s;
}
#socios-cards .card:hover .socios-img {
    filter: brightness(.1);
    transition: 0.7s;
}

/* PÁGINA CONTATO - TÍTULO */
#contato-titulo {
    background-color: #e8e8e8;
}
